# Web Framework & Server (Pinned for stability)
Flask==3.1.2
Flask-Mail==0.10.0
gunicorn==23.0.0
email-validator==2.1.0.post1
python-dotenv==1.0.1

# AI & LLM (No versions here to let pip solve the conflict)
langchain
langchain-community
langchain-groq
groq
langchain-classic

# Embeddings & Vector Store
langchain-huggingface
sentence-transformers==5.2.0
faiss-cpu==1.13.2
